@import "../../colores.scss";

header.menu-header {
  position: sticky;
  top: 0;
  z-index: 2000;
  padding: 30px 0px 0px 0px;
  height: 96px;
  line-height: 19.36px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $color-azul;
  background-color: $color-blanco;

  img.menu-imagen {
    display: none;
  }
  nav {
    ul {
      display: flex;
      li {
        max-width: 250px;
        padding: 20px;
        align-items: center;
        a {
          display: flex;
          font-size: 14px;
          font-weight: 400;
        }
        @media (max-width: 1090px) {
          a {
            font-size: 12px;
          }
        }
        img.flecha-mobile {
          display: none;
        }
        img.flecha-desktop {
          position: relative;
          left: 93%;
          bottom: 50%;
          width: 16px;
          height: 8px;
          margin: 10px;
          cursor: pointer;
        }
        div.dropdown-menu-container {
          display: flex;
          position: absolute;
          top: 80%;
          margin: 0;
          z-index: 1000;
          
          ul.dropdown-menu {
            width: 250px;
            display: flex;
            flex-direction: column;
            position: absolute;
            background-color: $color-blanco;
          }
          @media (max-width: 1090px) {
            ul.dropdown-menu {
              width: 180px;
            }
          }
        }
      }
      hr {
        display: none;
      }
      @media (max-width: 1090px) {
        li {
          padding: 15px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  header.menu-header {
    position: sticky;
    padding: 30px 30px 30px 30px !important;
    height: 48px;
    min-width: 372px;
    line-height: 19.36px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    border-radius: 2px;
    color: $color-blanco;
  }
  img.menu-imagen {
    width: 27px;
    height: 15px;
    display: flex !important;
    position: absolute;
    bottom: 17px;
    cursor: pointer;
  }
  nav {
    display: flex;
    background-color: $color-azul;
    position: relative;
    top: 30px;
    border-radius: 2px;
    ul {
      padding: 10px;
      display: flex;
      flex-direction: column;
      width: 292px;
      li {
        padding: 15px 20px 15px 20px !important;
        max-width: 292px !important;
        a {
          font-weight: 400;
          font-size: 14px !important;
        }
        img.flecha-desktop {
          display: none;
        }
        img.flecha-mobile {
          position: absolute;
          display: flex !important;
          right: 15px;
          top: 35px;
          width: 16px;
          height: 8px;
          cursor: pointer;
        }
        div.dropdown-menu-container {
          position: relative !important;
          top: 0 !important;
          ul.dropdown-menu {
            width: 250px !important;
            position: relative !important;
            padding: 10px 15px 10px 15px;
            list-style-type: circle;
            background-color: $color-azul !important;
          }
          ul.dropdown-menu li::marker {
            content: "•";
            color: $color-verde;
            font-weight: bold;
          }
        }
      }
      hr {
        width: 250px;
        position: relative;
        left: 4%;
        display: flex !important;
      }
    }
  }
}
