$color-blanco: #FFF;
$color-azul-claro: #0DACAC;
$color-azul: #021D49;
$color-azul-2: #132032;
$color-verde: #c2d500;
$color-gris-claro-2: #F5F5F5;
$color-gris-claro: #D9D9D9;
$color-gris: #e0e1e0;
$color-gris-2: #B9B9B9;
$color-gris-oscuro: #818181;

