@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./colores.scss";

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("fonts/Inter/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("fonts/Inter/static/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("fonts/Inter/static/Inter-Black.ttf") format("truetype");
}

* {
  font-family: "Inter";
}

div.cardComponent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
}

div.cardTest {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  background-color: $color-azul;
}

h2 {
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  color: $color-azul;
}

button {
  height: 43px;
  width: 157px;
  background-color: $color-verde;
  color: $color-azul;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;

  &:hover {
    background-color: $color-azul;
    color: $color-blanco;
  }
}

table {
  table-layout: fixed;
  thead,
  tbody {
    tr {
      &:nth-child(n) {
        background-color: $color-gris-claro-2;
        color: #021d49;
      }
      &:nth-child(even) {
        background-color: $color-blanco;
        color: #021d49;
      }
      th {
        &:nth-child(1) {
          h3 {
            border-left: 1px solid $color-gris-2;
            border-radius: 10px 0px 0px 0px;
          }
        }
        // TODO: terminar bordes de la tabla
        &:nth-child(n) {
          h3 {
            padding: 20px 10px 20px 10px;
            text-transform: uppercase;
          }
        }
        &:nth-last-child(1) {
          h3 {
          }
        }
        &:nth-child(n) {
          background-color: $color-verde;
          h3 {
            color: $color-azul;
          }
        }
        &:nth-child(even) {
          background-color: $color-azul-2;
          h3 {
            color: white;
          }
        }
      }
      td {
        &:nth-child(1) {
          span {
            font-weight: 700;
          }
        }

        &:nth-child(n) {
          border-top: 1px solid $color-gris-2;
          border-right: 1px solid $color-gris-2;
          border-bottom: 1px solid $color-gris-2;
          border-left: 1px solid $color-gris-2;
        }
      }
    }
  }
}
